<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head> 
  <meta charset="utf-8" /> 
  <meta name="renderer" content="webkit|ie-comp|ie-stand" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" /> 
  <meta http-equiv="Cache-Control" content="no-siteapp" /> 
  <!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]--> 
  <link rel="stylesheet" type="text/css" href="../H-ui/static/h-ui/css/H-ui.min.css" /> 
  <link rel="stylesheet" type="text/css" href="../H-ui/static/h-ui.admin/css/H-ui.admin.css" /> 
  <link rel="stylesheet" type="text/css" href="../H-ui/lib/Hui-iconfont/1.0.8/iconfont.css" /> 
  <link rel="stylesheet" type="text/css" href="../H-ui/static/h-ui.admin/skin/default/skin.css" id="skin" /> 
  <link rel="stylesheet" type="text/css" href="../H-ui/static/h-ui.admin/css/style.css" /> 
  <!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]--> 
  <title>医师列表</title> 
 </head> 
 <body> 
  <nav class="breadcrumb"> 
   <i class="Hui-iconfont"></i> 医师管理 
   <span class="c-gray en">&gt;</span>医师列表 
   <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont"></i></a> 
  </nav> 
  <div class="page-container"> 
   <div class="cl pd-5 bg-1 bk-gray mt-20"> 
    <span class="l"> <a class="btn btn-primary radius" onclick="picture_add('添加图片','picture-add.html')" href="javascript:;"><i class="Hui-iconfont"></i> 添加图片</a></span> 
    <span class="r">共有数据：<strong th:text="${expertsSize}"></strong> 条</span> 
   </div> 
   <div class="mt-20"> 
    <table class="table table-border table-bordered table-bg table-hover table-sort"> 
     <thead> 
      <tr class="text-c"> 
       <th width="30">ID</th> 
       <th width="60">医师名称</th> 
       <th width="100">科室</th> 
       <th width="100">职位与荣誉称号</th> 
       <th width="150">看诊信息</th> 
       <th width="180">医师介绍</th> 
       <th width="100">医师照片</th> 
       <th width="160">创建时间</th> 
       <th width="100">操作</th> 
      </tr> 
     </thead> 
     <tbody> 
      <tr class="text-c" th:each="experts:${expertsList}"> 
       <td th:text="${experts.id}"></td> 
       <td th:text="${experts.name}"></td> 
       <td th:text="${experts.department}"></td> 
       <td th:text="${experts.position}"></td> 
       <td> <p>看诊费用 : <span th:text="(${experts.amount} / 100)"></span>￥</p> <span>看诊地点 : <span th:text="${experts.locations}"></span></span> <span>看诊时间 : <span th:text="${experts.kanzhenshijian}"></span></span> </td> 
       <td th:text="${experts.profiles}"></td> 
       <td><img style="width: 50px;" alt="头像" src="" th:src="@{${experts.img}}" /></td> 
       <td th:text="${experts.addTime}"></td> 
       <td class="td-manage"><a style="text-decoration: none" class="ml-5" onclick="picture_edit('图库编辑','picture-add.html','10001')" href="javascript:;" title="编辑"> <i class="Hui-iconfont"> </i> </a> <a style="text-decoration: none" class="ml-5" th:onclick="'picture_del(this,'+${experts.id}+');'" href="javascript:;" title="删除"> <i class="Hui-iconfont"> </i> </a></td> 
      </tr> 
     </tbody> 
    </table> 
   </div> 
  </div> 
  <!--_footer 作为公共模版分离出去--> 
  <script type="text/javascript" src="../H-ui/lib/jquery/1.9.1/jquery.min.js"></script> 
  <script type="text/javascript" src="../H-ui/lib/layer/2.4/layer.js"></script> 
  <script type="text/javascript" src="../H-ui/static/h-ui/js/H-ui.min.js"></script> 
  <script type="text/javascript" src="../H-ui/static/h-ui.admin/js/H-ui.admin.js"></script> 
  <!--/_footer 作为公共模版分离出去--> 
  <!--请在下方写此页面业务相关的脚本--> 
  <script type="text/javascript" src="../H-ui/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
  <script type="text/javascript" src="../H-ui/lib/laypage/1.2/laypage.js"></script> 
  <script type="text/javascript" th:inline="javascript">


/*图片-添加*/
function picture_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}



/*图片-编辑*/
function picture_edit(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}

/*图片-删除*/
function picture_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '/admin/expertsDel',
			data:{
                "id": id,
            },
			dataType: 'text',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				layer.msg(data,{icon:1,time:1000});
				console.log(data);
			},
		});		
	});
}
</script>  
 </body>
</html>