<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>登陆</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <link href="../jquery-easyui-1.5.3/themes/default/easyui.css" rel="stylesheet" />
    <link href="../jquery-easyui-1.5.3/themes/icon.css" rel="stylesheet" />
    <script src="../jquery-easyui-1.5.3/jquery.min.js"></script>
    <script src="../jquery-easyui-1.5.3/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../jquery-easyui-1.5.3/locale/easyui-lang-zh_CN.js"></script>
    <style type="text/css">
    body {
/*url 内放置为图片的路径地址*/
/*no-repeat 图片不平铺*/
background: url(../adminImg/adminLogin.jpg) no-repeat;
/*图片自适应整个页面*/
background-size: cover;
/*图片自适应整个页面*/
}

#div1{
position:relative;
left:56%;
top:245px;

width:450px; 
height:400px;
}
    </style>
   <script type="text/javascript">
  
   </script>
</head>
<body>
 <div id="div1">
 <input class="easyui-passwordbox" prompt="Password" iconWidth="28" style="width:100%;height:34px;padding:10px"/> 
 <input  prompt="Password" iconWidth="28" style="width:100%;height:34px;padding:10px"/> 
 </div>
</body>
</html>