body {
/*url 内放置为图片的路径地址*/
/*no-repeat 图片不平铺*/
background: url(../adminImg/adminLogin.jpg) no-repeat;
/*图片自适应整个页面*/
background-size: cover;
/*图片自适应整个页面*/
}

.login {
position:relative;
left:56%;
top:245px;

width:450px; 
height:400px;
}
.login h2{
	color:#1c85c9;
}
#input{
	margin-top: 30px;
}
.hr {
	height: 1px;
	border: none;
	border-top: 1px solid #000
	}
	
#button{
	margin-top: 3%;
margin-left: 18%;
}

#error{
	color:#f00;
	margin: 10px
}
